<!DOCTYPE html>
<html>
<head>
  <title>NachhilfeBoerse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<table bgcolor="5555FF">
	<tr>
		<td>Start</td>
		<td>Profil</td>
		<td>Admin</td>
		<td>Login</td>
		<td>Logout</td>
	</tr>	
</table>

</body>
</html>
