<H1 align="center">LOGIN</H1>

<center>

<br/>
<br/>


<%= form_for :login, url: logins_path do |f| %>
    <%= f.text_field :name, :size=>"30", :maxlength=>"30", :placeholder=>"Benutzername" %>
    <br/>
	<br/>
    <%= f.text_field :password, :type=>"password", :size=>"30", :maxlength=>"40", :placeholder=>"Passwort" %>
    <br/>
	<br/>
    <%= f.submit "           Login           " %>
<% end %>
</center>