<H1 align="center">LOGIN</H1>

<center>

<br/>
<br/>


<%= form_for :login, url: logins_path do |f| %>
    <%= f.text_field :name, :size=>"30", :maxlength=>"30", :value=>"Benutzername", :onFocus=>"if(this.value=='Benutzername') this.value=''", :onBlur=>"if(this.value=='') this.value='Benutzername'" %>
    <br/>
	<br/>
    <%= f.text_field :password, :size=>"30", :maxlength=>"40", :value=>"Passwort", :onFocus=>"if(this.value=='Passwort') this.value=''", :onBlur=>"if(this.value=='') this.value='Passwort'" %>
    <br/>
	<br/>
    <%= f.submit "           Login           " %>
<% end %>
</center>